*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #F8EDED;
    display: grid;   /* To align the outer div in the .center-container of the body */
    justify-content: center;
    align-items: center;
}

.outer-container{
    background-color: white;
    margin: 150px;
    border: none;
    border-radius: 7px;
    width: 60vw;
    display: grid;
    grid-template-areas: 'contect-info inner-content';   /* To adjust the content side by side */
    grid-auto-flow: column;
}


/* Bellow content is left side of the vertical line */

.contect-info{
    display: flex;   /* To use the flex properties */
    text-align: center;
    align-items: center;   /* To adjust the elments in center horizontly */
    flex-direction: column;   /* To add the elements into column */
    justify-content: space-between;   /* For adding the space between the .phone-no .email .address div */
    padding: 30px;
    border-left: 1.5px solid #999;  /* Use for add vertical line between the two .contect-info and .main-content divs */
}

.contect-info .address{
    display: grid;   /* Use to add the gap between the <i>, <h4>, <p> tags */
    row-gap: 5px;
}
.contect-info .phone-no{
    display: grid;   /* Use to add the gap between the <i>, <h4>, <p> tags */
    row-gap: 5px;
}
.contect-info .email{
    display: grid;   /* Use to add the gap between the <i>, <h4>, <p> tags */
    row-gap: 5px;
}

.contect-info p{
    opacity: .4;   /*To create a lighter text */
    font-size: 14px;
}


/* Bellow content is right side of the vertical line  */

.main-content{
    padding: 30px;
}

.header h2{
    color: #102C57;
}

.input{
    grid-template-columns: auto;   /* Use for responsive input box, it shrink along with display size, if display size getting decreased it automaticaly adjust*/
}

/* Bellow is simple css styling for the inputs and submit-btn */
.input1{
    margin: 5px 0;
    padding: 7px;
    width: 100%;
    border: none;
    background-color: #EEEDEB;
}

.input2{
    margin: 5px 0;
    padding: 7px;
    width: 100% ;
    border: none;
    background-color: #EEEDEB;
}

.input3{
    margin: 5px 0;
    padding: 7px;
    width: 100%;
    height: 64px;
    border: none;
    background-color: #EEEDEB;
}

.submit-btn{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #102C57;
    color: white;
    height: 30px;
    width: 80px;
}


/* Media query use to make website responsive */

@media screen and (max-width:600px) {
    body{
        background-image: linear-gradient(#db9f9f, #F8EDED);
        display: grid;   
        justify-content: center;
        align-items: center;
    }
    .outer-container{
        background-color: white;
        margin: 50px;
        border: none;
        width: 85vw;
        display: flex;
        flex-direction: column;
    }
    .contect-info{
        text-align: center;
        display: grid;
        row-gap: 10px;
        justify-content: center;
        border-top: 1.5px solid #999;
        border-left: none;
    } 
    .header h2{
        margin-bottom: 10px;
    }
    .main-content .input{
        margin: 10px 0;
    }
    .main-content .submit-btn{
        margin-top:10px;
    }
}

@media screen and (max-width:950px) and (min-width:600px){
    body{
        background-color: #F8EDED;
        display: grid;   
        justify-content: center;
        align-items: center;   
    }
    .outer-container{
        background-color: white;
        margin: 70px;
        border: none;
        border-radius: 7px;
        width: 60vw;
        display: flex;
        flex-direction: column;
    }
    .contect-info{
        border-left: none;
        border-top: 1.5px solid #999;
        flex-direction: row;       
        justify-content: space-between;
    }
    .main-content .header h2{
        margin-bottom: 10px;
    }
    .main-content .input{
        margin: 10px 0;
    }
    .main-content .submit-btn{
        margin-top:10px;
    }
}    